body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

ul {
  display: flex;
}
li {
  margin: 0px 15px 0px 0px;
  list-style: none;
}

.top-photo {
  background-image: url(../public//tree.jpg);
  height: 100vh;
  background-size: cover;
}
.bg_dark {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}
.top-container {
  position: absolute;
  color: white;
  font-size: 60px;
  left: 50%;
  top: 40%;
  z-index: 2;
}
